<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini Whatsaap</title>
    <link rel="stylesheet" href="/style.css">
    
</head>

<body>
    <h3>All Chats!</h3>

    <form method="GET" action="/chats/new">
        <button>New chat</button>
    </form>

    <br>

    <% for (let chat of chats) { %>
        <div class="chat">

            <p>From : <%= chat.from %></p>

            <div class="msg">
                <p><%= chat.msg %></p>

                <div class="btn-row">
                    <form method="GET" action="/chats/<%= chat._id %>/edit">
                        <button class="edit-btn">Edit</button>
                    </form>

                    <form method="POST" action="/chats/<%= chat._id %>?_method=DELETE">
                        <button class="delete-btn">Delete</button>
                    </form>
                </div>
            </div>

            <p>Received by <%= chat.to %></p>

            <hr />

            <div class="timestamp">
                <span class="time"><%= chat.created_at.toString().split(" ")[4] %></span>
                <br>
                <span class="date"><%= chat.created_at.toString().split(" ").slice(0, 4).join(" ") %></span>
            </div>

        </div>
    <% } %>

</body>

</html>
